{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fake News Detector</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static 'fonts\font-awesome-4.7.0\css\font-awesome.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<body>

	<div class="bg-contact2" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
		<div class="container-contact2">
			<div class="wrap-contact2">
				<form class="contact2-form validate-form" action="{% url 'result' %}">
					<span class="contact2-form-title">
						Fake and True News Detector
					</span>

					<span class="contact2-form-text">
						Put some text of some news, and the AI will estimate if it is a Fake or Real news.
					</span>

					<div class="wrap-input2 validate-input" data-validate = "Message is required">
						<textarea class="input2" name="news"></textarea>
						<span class="focus-input2" data-placeholder="News Text"></span>
					</div>

					<div class="container-contact2-form-btn">
						<div class="wrap-contact2-form-btn">
							<div class="contact2-form-bgbtn"></div>
							<button class="contact2-form-btn">
								Submit
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

<div class="footer">
		<p class="footer-text-left"> © 2020 Copyright: Leonardo França Bessa </p>
		<div class="footer-content-right">
  		<a href="https://github.com/LeoFrancaBessa" target="_blank"><img src="{% static 'images/github.jpeg' %}" class="icon-style" alt="Github icon" target="blank"></a>
		</div>
		<div class="footer-content-right">
  		<a href="https://www.linkedin.com/in/leonardo-fran%C3%A7a-2246641a3/" target="_blank"><img src="{% static 'images/linkedin.png' %}" class="icon-style" alt="Linkedin icon"</a>
		</div>
		<div class="footer-content-right">
  		<a href="https://www.instagram.com/leofranca___/" target="_blank"><img src="{% static 'images/instagram.png' %}" class="icon-style" alt="Instagram icon"></a>
		</div>
	</div>

</body>
</html>
